/* VARIABLES */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
/* GENERAL */
html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* HEADER START */
.site-header {
  padding-top: 40px;
}

.site-header--open .header-box__wrap {
  display: block;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: auto;
}

.header-box__btn {
  width: 24px;
  height: 21px;
  background-image: url("../images/hamburg.svg");
  background-color: transparent;
  border: none;
}

.header-box__wrap {
  position: absolute;
  display: none;
  width: 100%;
  max-width: 327px;
  top: 96px;
  right: 0px;
  left: 0;
  margin: 0px auto;
  padding: 40px 24px;
  background-color: #3A3054;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header-box__list {
  margin-bottom: 32px;
  border-bottom: 1px solid #9e9aa8;
}

.header-box__item {
  margin-bottom: 30px;
}

.header-box__link,
.header-box__login,
.header-box__sign {
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.header-box__tiny {
  width: 100%;
  max-width: 279px;
  margin: 0 auto;
}

.header-box__login {
  margin-bottom: 30px;
}

.header-box__sign {
  padding: 12px 81px;
  background-color: #2bd0d0;
  border-radius: 28px;
}

@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slidedown {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media only screen and (min-width: 700px) {
  .logo {
    margin-right: 45px;
  }
  .header-box__btn {
    display: none;
  }
  .header-box__wrap {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    -webkit-animation: none;
            animation: none;
  }
  .header-box__nav {
    width: 100%;
    max-width: 265px;
    margin-right: auto;
  }
  .header-box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    border: none;
  }
  .header-box__item {
    margin-bottom: 0px;
  }
  .header-box__item:not(:last-child) {
    margin-right: 29px;
  }
  .header-box__link,
.header-box__login {
    font-size: 15px;
    line-height: 22px;
    color: #9e9aa8;
  }
  .header-box__link:hover,
.header-box__login:hover {
    color: #34313d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-box__tiny {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 196px;
    margin: 0px;
  }
  .header-box__login {
    margin: 0px 37px 0px 0px;
  }
  .header-box__sign {
    padding: 9px 24px;
  }
  .header-box__sign:hover {
    background-color: #9AE3E3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
/* */
/* HEADER END */
/* MAIN START */
/* SECTION MORE START */
.more {
  padding: 67px 0px 0px 0px;
  background-image: url("../images/herobg-m.svg");
  background-repeat: no-repeat;
  background-size: 425px 306px;
  background-position: calc(50% + 117px) calc(50% - 342px);
}

.more-box {
  width: 100%;
}

.more-box__img-m {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.more-box__title-box {
  max-width: 327px;
  margin: 0 auto;
}

.more-box__title {
  margin: 0px 0px 15px 0px;
  font-size: 39px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.05px;
  color: #34313d;
}

.more-box__text {
  margin: 0px 0px 32px 0px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9e9aa8;
}

.more-box__tiny {
  display: block;
  width: 197px;
  margin: 0 auto;
}

.more-box__link {
  padding: 14px 40px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background: #2bd0d0;
  border-radius: 28px;
}
.more-box__link:hover {
  background-color: #9AE3E3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more-box__img-d {
  display: none;
}

@media only screen and (min-width: 388px) {
  .more {
    background-size: 483px 360px;
    background-position: calc(50% + 126px) calc(50% - 340px);
  }
}
@media only screen and (min-width: 470px) {
  .more {
    background-size: 600px 420px;
    background-position: calc(50% + 150px) calc(50% - 335px);
  }
}
@media only screen and (min-width: 540px) {
  .more {
    background-size: 921px 450px;
    background-position: calc(50% + 222px) calc(50% - 340px);
  }
}
@media only screen and (min-width: 700px) {
  .more {
    padding: 139px 0px 68px 0px;
    background-image: url("../images/herobg-d.svg");
    background-size: 397px 360px;
    background-position: calc(50% + 302px) calc(50% - 140px);
  }
  .more-box__img-m {
    display: none;
  }
  .more-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .more-box__title-box {
    width: 50%;
    max-width: 450px;
    margin: 0px auto 0px 0px;
  }
  .more-box__title {
    margin-bottom: 5px;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -2px;
  }
  .more-box__text {
    margin-bottom: 38px;
    font-size: 13px;
    text-align: left;
  }
  .more-box__tiny {
    margin: 0px;
  }
  .more-box__img-d {
    display: block;
    width: 40%;
    height: 310px;
  }
}
@media only screen and (min-width: 710px) {
  .more-box__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 820px) {
  .more-box__title {
    font-size: 56px;
    line-height: 75px;
  }
  .more-box__text {
    font-size: 16px;
  }
  .more-box__img-d {
    height: 340px;
  }
}
@media only screen and (min-width: 852px) {
  .more {
    background-size: 470px 425px;
    background-position: calc(50% + 369px) calc(50% - 135px);
  }
}
@media only screen and (min-width: 1000px) {
  .more-box__title-box {
    min-width: 585px;
  }
  .more-box__title {
    font-size: 80px;
    line-height: 90px;
  }
  .more-box__text {
    font-size: 22px;
    line-height: 36px;
  }
  .more-box__img-d {
    height: 375px;
  }
}
@media only screen and (min-width: 1100px) {
  .more {
    background-position: calc(50% + 460px) calc(50% - 135px);
  }
}
.form {
  position: relative;
  bottom: -90px;
  width: 100%;
  max-width: 1110px;
  padding: 24px;
  background-image: url("../images/line2.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.form__label {
  position: relative;
}

.form__input {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 38px auto;
  padding: 6px 0px 6px 16px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313d;
  border: 3px solid transparent;
  border-radius: 5px;
}

.form__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 3px solid #f46363;
  border-radius: 5px;
}

.form__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 3px solid #f46363;
  border-radius: 5px;
}

.form__input:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid #f46363;
  border-radius: 5px;
}

.form__input:not(:-moz-placeholder-shown):not(:focus):invalid + .form__tiny {
  opacity: 1;
}

.form__input:not(:-ms-input-placeholder):not(:focus):invalid + .form__tiny {
  opacity: 1;
}

.form__input:not(:placeholder-shown):not(:focus):invalid + .form__tiny {
  opacity: 1;
}

.form__input::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__input::-moz-placeholder {
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__tiny {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 104px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0818182px;
  color: #f46363;
  opacity: 0;
}

.form__btn {
  width: 100%;
  max-width: 960px;
  padding: 11px 69px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  background-color: #2bd0d0;
  border-color: transparent;
  border-radius: 5px;
}
.form__btn:hover {
  background-color: #9AE3E3;
}

@media only screen and (min-width: 700px) {
  .form {
    display: block;
    bottom: -120px;
  }
  .form__input {
    width: 100%;
    max-width: 395px;
    margin: 0px 24px 0px 0px;
    border-radius: 10px;
  }
  .form__btn {
    width: 188px;
    padding: 11px 40px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 750px) {
  .form__input {
    max-width: 445px;
  }
}
@media only screen and (min-width: 800px) {
  .form__input {
    max-width: 495px;
  }
}
@media only screen and (min-width: 850px) {
  .form__input {
    max-width: 545px;
  }
}
@media only screen and (min-width: 900px) {
  .form__input {
    max-width: 595px;
  }
}
@media only screen and (min-width: 950px) {
  .form__input {
    max-width: 615px;
  }
}
@media only screen and (min-width: 1000px) {
  .form {
    padding: 52px 64px;
    display: block;
  }
}
@media only screen and (min-width: 1150px) {
  .form__input {
    max-width: 765px;
  }
}
/* SECTION MORE END */
.advanced {
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
}

.advanced-wrap {
  padding-bottom: 92px;
}

.advanced-wrap__box {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
}

.advanced-wrap__title {
  margin: 0px 0px 16px 0px;
  font-size: 28px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.7px;
  color: #34313D;
}

.advanced-wrap__text {
  margin: 0px;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.109091px;
  color: #9E9AA8;
}

.advanced-list__item {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 72px 32px 41px 31px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.advanced-list__item:not(:last-child) {
  margin-bottom: 92px;
}
.advanced-list__item::before {
  position: absolute;
  top: -45px;
  left: calc(50% - 42px);
  width: 88px;
  height: 88px;
  background-image: url("../images/brand.svg");
  background-repeat: no-repeat;
  content: "";
}
.advanced-list__item:nth-child(2)::before {
  background-image: url("../images/detailed.svg");
}
.advanced-list__item:nth-child(3)::before {
  background-image: url("../images/fully.svg");
}
.advanced-list__item:not(:last-child):after {
  position: absolute;
  z-index: 0;
  left: 50%;
  bottom: -100px;
  width: 8px;
  height: 100px;
  border-left: 8px solid #2BD0D0;
  content: "";
}

.advanced-list__box {
  width: 100%;
  max-width: 263px;
  margin: 0 auto;
}

.advanced-list__title {
  margin: 0px 0px 12px 0px;
  font-size: 21px;
  line-height: 33px;
  font-weight: 700;
  text-align: center;
  color: #34313D;
}

.advanced-list__text {
  margin: 0px;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #9E9AA8;
}

@media only screen and (min-width: 333px) {
  .advanced-wrap__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 341px) {
  .advanced-list__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 359px) {
  .advanced-list__title {
    font-size: 22px;
  }
  .advanced-list__text {
    font-size: 15px;
  }
}
@media only screen and (min-width: 900px) {
  .advanced {
    padding-bottom: 120px;
  }
  .advanced-wrap__box {
    max-width: 540px;
    margin-bottom: 100px;
  }
  .advanced-wrap__title {
    margin-bottom: 18px;
  }
  .advanced-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advanced-list__item:nth-child(2) {
    margin-top: 44px;
    margin-bottom: 44px;
  }
  .advanced-list__item:nth-child(3) {
    margin-top: 88px;
  }
  .advanced-list__item:not(:last-child) {
    margin-right: 20px;
  }
  .advanced-list__item::before {
    left: calc(50% - 103px);
  }
  .advanced-list__item:not(:last-child):after {
    position: absolute;
    z-index: 0;
    bottom: 104px;
    left: 100%;
    width: 100px;
    height: 8px;
    border-left: none;
    border-bottom: 8px solid #2BD0D0;
    content: "";
  }
  .advanced-list__box {
    max-width: 286px;
  }
  .advanced-list__title {
    font-size: 18px;
    text-align: left;
  }
  .advanced-list__text {
    font-size: 11px;
    text-align: left;
  }
}
@media only screen and (min-width: 924px) {
  .advanced-list__text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1012px) {
  .advanced-list__title {
    font-size: 22px;
  }
  .advanced-list__text {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1125px) {
  .advanced-list__text {
    font-size: 15px;
  }
}
.boost {
  padding: 90px 0px;
  background-image: url("../images/line2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.boost-box__title {
  margin: 0px 0px 16px 0px;
  font-size: 25px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.7px;
  color: #FFFFFF;
}

.boost-box__tiny {
  display: block;
  width: 197px;
  margin: 0 auto;
}

.boost-box__link {
  padding: 14px 40px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  background: #2BD0D0;
  border-radius: 28px;
}
.boost-box__link:hover {
  background-color: #9AE3E3;
}

@media only screen and (min-width: 400px) {
  .boost-box__title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 750px) {
  .boost-box__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
  }
}
/* MAIN END */
/* FOOTER START */
.site-footer {
  padding: 56px 0px;
  background-color: #232127;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 47px;
}

.footer-list {
  margin-bottom: 38px;
}

.footer-list__strong {
  display: block;
  text-align: center;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-list__link {
  display: block;
  text-align: center;
  margin: 0px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
}
.footer-list__link:hover {
  color: #2BD0D0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 168px;
  margin: 48px auto 0px auto;
}

.icon {
  color: #fff;
}
.icon:hover {
  color: #2BD0D0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 900px) {
  .site-footer {
    padding: 70px 0px;
  }
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo-footer {
    margin-right: auto;
  }
  .footer-list {
    margin: 0px 80px 0px 0px;
  }
  .footer-list__strong {
    display: inline-block;
  }
  .footer-list__link {
    text-align: left;
  }
  .footer-list-icon {
    margin: 0px;
  }
}
/* FOOTER END *//*# sourceMappingURL=main.css.map */